:root{
    --divider-color: #CCCCCC50;
    --label-font-size: 1rem;
    --label-font-color: #FFFFFF;
    --primary-text-color: #212121;
    --primary-text-size: 1.2rem;
    --secondary-text-color: #757575;
    --secondary-text-size: 1.1rem;   
}